
.container{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.header {
    /* height: 30vh; */
    padding-top: 4rem;
    background-color: #003d33;
}

.about-title h1 {
    padding: 70px 50px;
    color: #F1C066;
    font-size: 5rem;
    font-weight: 700;
}

.col-md-12 .btn-order{
    border-radius: 5px;
    outline:#003d33 !important;
    border: #003d33 2px;
    background-color: #F1C066;;
    font-weight: 500;
}


.col-md-12 .btn:hover{
    color: white;
    outline:#003d33;
    background-color: #003d33;
}

.col-sm-8 .card{
    border-radius: 15px;
    background-color: #DFB15C;
}

.card-header {
    background-color: #DFB15C !important;
    color: #003d33 ;
    font-weight: bolder;
    /* width: 600px; */
}
