.header{
    padding-top: 110px;
    background: #003d33;
    color: #F1C066;
}

.header h1{
    font-size: 5rem;
    font-weight: 700;
}

.header p{
    color: white;
}

.header img{
    max-width: 650px;
    width: 100%;
}

.header .btn{
    color: #003d33;
    outline: #003d33;
}

.header .btn:hover{
    background-color: #FFD180;
    color: white;
    border: solid #FFD180;
}

.rekom-card{
    /* max-width: 230px; */
    /* width: 100%; */
    height: auto;
    border-radius: 10px !important;
}

/* .card-img-top{
    height: 100px;
} */

.container .mx-auto{
    display: flex;
    /* padding-top: 5rem; */
    justify-content: space-around;
    /* padding-bottom: 3rem; */
}

.bg{
    background-color: #003d33 !important;
    /* margin-bottom: 3rem; */
    /* margin-inline: 1.5rem; */
    border-radius: 15px;
    padding: 0.1rem;
    max-width: 200px;
    width: 100%;
    height: auto;
    
}

.kategori-card{
    max-width: 170px;
    width: 100%;
    max-height: 170px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.img{
    border-radius: 30px;
}

.product-items {
    display: flex;
    justify-content: space-around;
    padding: 0rem;
}

.row-kategori{
    background-color: #003d33;
    color: #F1C066;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.row-card .col-md-4{
    padding-inline: 1rem;
    justify-content: space-around;
}

.row-rekom{
    padding-bottom: 4rem;
}

.row3{
    padding-bottom: 4rem;
}

.img-layanan{
    border-radius: 30px !important;
    max-height: 200px;
    height: 100%;
}

/* .card-layanan{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; *
} */

/* @media (max-width: 800px){
    .card-layanan {
        padding: 2px;
        border-radius: 15px;
        margin-left: -10px;
        margin-right: -10px;
    }
} */
/* 
.welcome-container {
    margin: 0 auto ;
    height: 80vh;
    background-color: #003d33;
    padding-top: 3rem;
}

.welcome-wrapper {
    margin: 0 auto ;
    padding-top: 50px;
    width: 1200px;
}

.fa-shopping-cart {
    margin-left: 8px;
}

.welcome-image {
    padding-top: 100px;
    width: 100px;
}

.welcome-text-wrapper {
    max-width: 500px;
    float: left;
    margin-right: 140px;
}

.welcome-text-wrapper h1{
    font-size: 100px;
    color: #fff;
}

.welcome-text-wrapper p{
    color: #fff;
}

.welcome-text-wrapper .bengkel-text{
    font-size: 100px;
    color:#F1C066;
}

.welcome-wrapper Button{
    background-color: #F1C066;
    padding: 5px;
}

.welcome-button-chat {
    background-color: #F1C066;
    position: fixed;
    border-radius: 50%;
    bottom: 70px;
    right: 120px;
    width: 60px;
    height: 60px;
    z-index: 999;
} */
.card-layanan {
    border-radius: 30px !important;
    /* border: 2px dashed #F1C066 !important; */
    max-width: 250px;
    width: 100%;  
}

.card-layanan .card-text{
    
    color: #003d33;
    font-weight: 600;
}

.card-kategori {
    border-radius: 30px !important;
    border: 2px dashed #F1C066 !important;
    max-width: 250px;
    width: 100%;  
}

.card-kategori .card-title {
    /* font-family: "Lato-Bold"; */
    font-size: 22pt;
}

.btn-kateogri {
    box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.4);
    border-radius: 30px !important;
    min-width: 80%;
}

.icon-size {
    width: 70%;
    margin-top: 10px;
}

.btn .line-icon {
    text-align: center;
    width: 70%;
    display: block;
    margin: auto;
    margin-top: -5px;

}

/* .card:hover {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.4s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
} */